@use '../util' as *;
.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(30);

  @include breakpoint-up(medium) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include breakpoint-up(large) {
    grid-template-columns: repeat(4, 1fr);
  }
}
.card {
  width: 100%;
  background: var(--card-background);
  color: var(--text-color2);
  text-align: center;
  padding: rem(25);
  border-radius: rem(5);
  position: relative;
  transition: background-color 150ms ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: var(--card-hover);
  }

  &--facebook {
    border-top: rem(5) solid var(--facebook);
  }
  &--twitter {
    border-top: rem(5) solid var(--twitter);
  }
  &--instagram {
    padding-top: rem(30);
    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: rem(5);
      border-radius: rem(5) rem(5) 0 0;
      background: linear-gradient(
        225deg,
        var(--instagram-end),
        var(--instagram-middle) 50.91%,
        var(--instagram-start) 100%
      );
    }
  }

  &--youtube {
    border-top: rem(5) solid var(--youtube);
  }
  &__platform {
    display: flex;
    justify-content: center;
    align-items: center;
    height: rem(20);
    margin-bottom: rem(28);
  }
  &__subtitle {
    font-size: rem(14);
    font-weight: 700;
  }

  &__icon {
    margin-right: rem(8);
  }

  &__username {
    font-size: rem(12);
    font-weight: 700;
  }
  &__followers {
    margin-bottom: rem(25);
  }
  &__count {
    color: var(--text-color);
    font-weight: 700;
    letter-spacing: rem(-2);
    line-height: 1;
    margin-bottom: rem(4);

    &--big {
      font-size: rem(56);
    }
    &--small {
      font-size: rem(32);
      font-weight: 500;
    }
  }
  &__label {
    font-size: rem(12);
    font-weight: 400;
    color: var(--dark-text-blue);
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  &__change {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: rem(12);
    font-weight: 700;

    &--up {
      color: var(--limegreen);
    }
    &--down {
      color: var(--brightred);
    }
    img {
      display: inline-block;
      margin-right: rem(4);
    }
  }
}
